
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}
#wrapper {
  width: 100%;
  text-align: center;
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.image_container_first {
  height: 100vh;
  overflow: hidden;
}
.whiteBlockAll{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url("../img/background_main.jpg") repeat;
}
.whiteBlockFirst{
  height: 370px;
}
.whiteBlockSecond{
  height: 440px;
}
.whiteBlockThird{
  height: 401px;
}
.whiteBlockForth{
  height: 453px;
}
.tittleWhiteBlock{
  font-family: Montserrat;
  color:  #333333;
  font-size: 22px;
  font-weight: 900;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
}
.line{
  padding-left: 57px;
  border-bottom: 3px solid #f1ad1d;
  margin-top: 38px;
}
.image_container_second {
  height: 482px;
  overflow: hidden;
}
.image_container_third {
  height: 477px;
  overflow: hidden;
}
.image_container_forth{
  height: 486px;
  overflow: hidden;
}

.titleImgBlock {
  text-transform: uppercase;
  font-family: Montserrat;
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  padding-top: 235px;
}
.yellow{
  font-family: Montserrat;
  color:  #f1ad1d;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}
.image {
  background-image: url("../img/bg1.jpg");
  background-size: cover;
  height: 100vh;
  transform: translateZ(-1px) scale(2);
  margin-left: -6px;
}
.blockLogo{
  position: relative;
}
.logoImg1{
  position: absolute;
  top: 55px;
  left: 530px;
}
.logoImg2{
  position: absolute;
  top: 44px;
  left: 800px;
}
.logoImg3{
  position: absolute;
  top: 44px;
  left: 995px;
}
.logoImg4{
  position: absolute;
  top: 44px;
  left: 1230px;
}

.content_first {
  align-items: center;
  justify-content: center;
}
.content_second {
  align-items: center;
  justify-content: center;
}
.content_third{
  align-items: center;
  justify-content: center;
}
.content_forth {
  align-items: center;
  justify-content: center;
}
.img2 {
  background-image: url("../img/bg2.jpg");
}
.img3 {
  background-image: url("../img/bg3.jpg");
}
.img4 {
  background-image: url("../img/bg4.jpg");
}
.top-screen {
  padding: 530px 991px 145px 80px;
  color: #ffffff;
}
.top-screen-wrapper {
  background: url("../img/bg1.jpg") no-repeat fixed;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
}
.top-screen-title {
  text-transform: uppercase;
  font-family: Montserrat;
  color:  #ffffff;
  font-size: 48px;
  font-weight: 900;
  text-align: left;
}
.top-screen-subtitle {
  font-family: Lato;
  color:  #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  margin-top: -20px;
}
.top-screen-slogan {
  display: inline-block;
  text-transform: uppercase;
  font-size: 54px;
  font-weight: 700;
  padding: 40px 45px;
  margin-top: 30px;
  background-color: rgba(0,0,0,0.4);
  border: 1px solid white;
}
.text-yellow {
  color: #f1ad1d;
  background: white;
  padding: 41px 25px 41px 35px;
  margin-left: -45px;
  margin-right: 35px;
}
.tittleWhiteBlock{
  font-family: Montserrat;
  color:  #333333;
  font-size: 22px;
  font-weight: 900;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
}
.textLastImg{
  font-family: Open Sans;
  color:  #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  margin-top: 50px;
}
.secondRowLastImg{
  margin-top: -20px;
}
.yellowBottom{
  font-family: Open Sans;
  color:  #f1ad1d;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}
.lineWhite{
  padding-left: 300px;
  border-bottom: 3px solid #ffffff;
  margin-top: 38px;
}
