body{
    font-family: Verdana, sans-serif;
    background-color: #cccccc;
}
h1{
    margin-top: 180px;
    text-align: center;
    color: #525151;
}
h2{
    color: #222f3a;
}
h4{
    color: #3a4965;
}
p{
    color: #434343;
    text-align: justify;
}
.container{
    width: 70%;
    padding: 10px 30px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: inset 1px 1px 5px 0px;
}
.comments{
    font-size: 0.9em;
    color: #434343;
    text-align: center;
}
.user-text{
    font-weight: 900;
}
pre{
    color: #525252;
}
.buttonJS{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}
button{
    text-align: center;
    padding: 20px 50px;
    align-items: center;
    background-color: #3a4965;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-size: 20px;
    float: left;
    margin-left: 20px;
}
button:active{
    box-shadow: inset 1px 1px 3px 0px;

}
strong{
    color: #1082af;
    background-color: #cecece;
}