body {
    font-family: sans-serif;
}
.top-screen {
    padding: 530px 0 145px 80px;
    color: #ffffff;
}
.top-screen-wrapper {
    background: url("../img/bg1.jpg") no-repeat fixed;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
}
.top-screen-title {
    text-transform: uppercase;
    font-family: Montserrat;
    color:  #ffffff;
    font-size: 48px;
    font-weight: 900;
    text-align: left;
}
.top-screen-subtitle {
    font-family: Lato;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    margin-top: -20px;
}
.top-screen-slogan {
    display: inline-block;
    text-transform: uppercase;
    font-size: 54px;
    font-weight: 700;
    padding: 40px 45px;
    margin-top: 30px;
    background-color: rgba(0,0,0,0.4);
    border: 1px solid white;
}
.text-yellow {
    color: #f1ad1d;
    background: white;
    padding: 41px 25px 41px 35px;
    margin-left: -45px;
    margin-right: 35px;
}
.tittleWhiteBlock{
    font-family: Montserrat;
    color:  #333333;
    font-size: 22px;
    font-weight: 900;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
}
.imgBlock{
    height: 382px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.titleImgBlock {
    text-transform: uppercase;
    font-family: Montserrat;
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
}
.yellow{
    font-family: Montserrat;
    color:  #f1ad1d;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
}
.whiteBlockAll{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("../img/background_main.jpg") repeat;
}
.whiteBlockFirst{
    height: 370px;
}
.whiteBlockSecond{
    height: 440px;
}
.whiteBlockThird{
    height: 401px;
}
.whiteBlockForth{
    height: 403px;
}
.line{
    padding-left: 57px;
    border-bottom: 3px solid #f1ad1d;
    margin-top: 38px;
}

.firstImg{
    background: url("../img/bg2.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 382px;
}
.secondImg{
    background: url("../img/bg3.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 477px;
}
.thirdImg{
    background: url("../img/bg4.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 486px;
}
.blockLogo{
    position: relative;
}
.logoImg1{
    position: absolute;
    top: 55px;
    left: -420px;
}
.logoImg2{
    position: absolute;
    top: 44px;
    left: -155px;
}
.logoImg3{
    position: absolute;
    top: 44px;
    left: 40px;
}
.logoImg4{
    position: absolute;
    top: 44px;
    left: 270px;
}
.textLastImg{
    font-family: Open Sans;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin-top: 50px;
}
.secondRowLastImg{
    margin-top: -20px;
}
.yellowBottom{
    font-family: Open Sans;
    color:  #f1ad1d;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}
.lineWhite{
    padding-left: 300px;
    border-bottom: 3px solid #ffffff;
    margin-top: 38px;
}