body{
    font-family: Verdana;
    font-weight: 300;
    width: 1366px;
    height: 768px;
    margin: 0 auto;
}
.container{
    width: 1366px;
    height: 768px;
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-position: center;
}
.header{
    width: 100%;
    padding-top: 50px;
}
.header-link{
    color: #ffffff;
    text-decoration: none;
}
.header-link:hover{
    color: #f26522;
}
.logo{
    margin-left: 155px;
    /*border: 1px solid red;*/
    height: 44px;
    display: inline-block;
    width: 46px;
    cursor: pointer;
    float: left;
    background-image: url(../img/logo-sprite.png);
    background-repeat: no-repeat;
    background-size: 92px 44px;
}
.logo:hover{
    background-image: url(../img/logo-sprite.png);
    background-repeat: no-repeat;
    background-position: -47px 0;
}
.logo-img{
    margin-left: 155px;
}
.header-text-logo-top {
    font-size: 29px;
    font-weight: 700;
    margin-left: 59px;
    margin-top: -4px;
}
.header-text-logo-button{
    font-size: 18px;
    font-weight: 700;
    display: inherit;
}
.header-contacts{
    text-align: right;
    margin-right: 300px;
    float: none;
}
.header-text-contact-mail{
    color: #ffffff;
    margin-top: 5px;
    text-align: right;
    padding-right: 148px;
    font-size: 18px;
}
.header-text-contact-tel{
    color: #ffffff;
    margin-top: -15px;
    text-align: right;
    padding-right: 148px;
    font-size: 18px;
}
.item-tours{
    clear: both;
    width: 1366px;
    text-align: left;
    margin: 0 auto;
}
.ul-items-first-line{
    margin: 0;
    display: inline-block;
    list-style-type: none;
}
.ul-items-second-line{
    margin-top: 33px;
    display: inline-block;
    list-style-type: none;
}
.main-content{
    width: 100%;
    padding-top: 22px;
}
.item-list{
    float: left;
    margin: auto 35px;
}
.item-list:first-child{
    margin-left: 114px;
}
.link-caption{
    text-align: center;
    color: #ffffff;
    margin-top: 15px;
    font-size: 18px;
    text-decoration: none;
}
.link-caption:hover{
    color: #f26522;
}
.text-footer {
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}
.wrap{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.wrap-span{
    background-color:rgba(242, 101, 34, 0);
    top:321px;
    transition-duration:0.6s;
    padding:10px 0;
    position:absolute;
    text-align:center;
    color:#fff;
    font-size:12px;
    line-height:16px;
    margin-top:-12px;
    display:block;
    width:100%;
    height:39px;
}
.wrap:hover span{
    top:155px;
    background-color:rgba(242, 101, 34, 1);
}
.caption-from{
    font-size: 10px;
    margin-left: -240px;
    margin-top: 1px;
    font-weight: 400;
}
.caption-price{
    font-size: 20px;
    margin-left: -225px;
    margin-top: -10px;
}
.caption-details{
    text-align: right;
    font-size: 14px;
    margin-right: 15px;
    margin-top: -33px;
}
.caption-details:after{
    content: '\00A0  \02C3';
    font-size: 14px;
    color: #cccccc;
    font-weight: bold;
}
.caption-img{
    border-left:2px solid;
    border-right:2px solid;
    border-top: 2px solid white;
    border-image: linear-gradient(to bottom, #cccccc, rgba(0, 0, 0, 0.05)) 1 49%;
}
