body {
    background-color: #9fa8da;
    font-family: Tahoma sans-serif;
}
p {
    font-size: 4.5em;
}

button {
    font-size: 30px;
    width: 200px;
    height: 70px;
    border-radius:  10px;
    cursor: pointer;
}
button:focus {
    outline: none;
}

#startPause {
    background-color: #3949AB;
    border-color: #ffffff;
    color: #ffffff;
}
#output{
    color: #ffffff;
}
#reset {
    background-color: gray;
    border-color: #ffffff;
    color: #ffffff;
}

.container {
    margin: 100px auto;
    width: 600px;
    height: 300px;
    text-align: center;
}
#controls {
    margin-left: 60px;
    width: 500px;
    height:70px;
}