body{
    font-family: Verdana, sans-serif;
    background-color: #cccccc;
}
h1{
    margin-top: 180px;
    text-align: center;
    color: #525151;
}
h2{
    color: #222f3a;
}
h4{
    color: #3a4965;
}

p{
    color: #434343;
    text-align: justify;
}
.container{
    width: 70%;
    padding: 10px 30px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: inset 1px 1px 5px 0px;
}
.comments{
    font-size: 0.9em;
    color: #434343;
    text-align: center;
}
pre{
    color: #525252;
}