.newMailModal{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 500px;
    display: flex;
    box-sizing: border-box;
    padding: 50px;
    align-items: stretch;
    flex-direction: column;
    border: 1px solid red;
}
input{
    margin: 20px 0;;
}