body{
    background-color: #cccccc;
    font-family: sans-serif;
}
.container{
    width: 1280px;
    margin: 0 auto;
}
.grid-container{
    display: grid;
    font-size: 32px;
    height: 700px;
    color: white;
    grid-template-areas:
        'header header header'
        'content content sidebar'
        'content content sidebar'
        'content content sidebar'
        'content content sidebar'
        'section section section'
        'section2 section2 section2'
        'footer1 footer2 footer3'
            ;
    grid-gap: 20px 50px;
}
.grid-child{
    background-color: #07e;
}
.grid-child:nth-child(even){
    background-color: #70e;
}
.header-child{
    grid-area: header;
}
.sidebar-child{
    grid-area: sidebar;
}
.content-child{
    grid-area: content;
}
.section-child{
    grid-area: section;
}
.section-child2{
    grid-area: section2;
}
.footer-child1{
    grid-area: footer1;
}
.footer-child2{
    grid-area: footer2;
}
.footer-child3{
    grid-area: footer3;
}
